<!DOCTYPE html>
<html lang="no">
  <head>
    <title>Portfoilo | Mosazghi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./stylesheets/index/index.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./stylesheets/index/semester.css"
    />
    <link rel="icon" type="image/x-icon" href="./images/profile-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 class="tittel">
        <a href="/admin/login">Mosazghi</a> | Elektroingeniørstudent, NTNU
      </h1>
    </header>
    <div class="kort-om-meg">
      <h2>Kort om meg</h2>
      <div>
        <p>
          Hei og velkommen til min porteføljeside! Jeg heter Mosazghi og jeg er
          elektroingeniørstudent ved NTNU. Med en sterk lidenskap for teknologi
          og innovasjon er jeg alltid ivrig etter å lære og utforske nye
          muligheter.
        </p>
        <p>
          Utenfor akademia har jeg også fått verdifull arbeidserfaring. Disse
          erfaringene har ikke bare utvidet min kunnskap og ferdigheter, men
          også hjulpet meg med å utvikle en sterk arbeidsmoral.
        </p>
        <p>
          Takk for at du tok deg tid til å besøke siden min. Jeg håper du finner
          porteføljen min informativ og engasjerende. Ta gjerne
          <a href="mailto:mosazghi.y.tesfazghi@ntnu.no">kontakt</a> dersom du
          har spørsmål eller ønsker å diskutere potensielle muligheter.
        </p>
      </div>
    </div>
    <main>
      <div class="alle-semester-container">
        <section class="semester-container">
          <button type="button" class="semester-button">1. Semester</button>
          <div class="fag-grid" id="H22"></div>
        </section>
        <section class="semester-container">
          <button type="button" class="semester-button">2. Semester</button>
          <div class="fag-grid" id="V23"></div>
        </section>
      </div>
    </main>
    <footer>
      <a
        href="https://www.facebook.com/mosazghi.yohannestesfazghi.7/"
        target="_blank"
      >
        <img
          src="https://img.icons8.com/ios-filled/50/null/facebook--v1.png"
          alt="Facebook!"
          style="width: 42px; height: 42px"
          title="Facebook"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/mosazghi-tesfazghi-8275a6275/"
        target="_blank"
      >
        <img
          src="https://img.icons8.com/ios-filled/50/null/linkedin.png"
          alt="LinkdIn!"
          style="width: 42px; height: 42px"
          title="LinkdIn"
        />
      </a>
      <a href="mailto:mosazghi.y.tesfazghi@ntnu.no" target="_blank">
        <img
          src="./images/ntnu-icon.png"
          alt="Email"
          style="width: 40px; height: 40px"
          title="Send Email"
        />
      </a>
    </footer>
    <script src="./javascripts/index.js"></script>
  </body>
</html>
