.semester-container {
  margin: 0 70px;
}

.semester-button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #407a9c;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0 0 0 8px;
  line-height: 2.5;
  display: block;
  background: transparent;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
  text-align: left;
}

.semester-button:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.fag-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.fag-container {
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  transition: transform 0.2s ease-out;
  flex: 1;
  justify-content: flex-end;
  padding: 1rem;
}

.fag-navn {
  font-size: 1.7rem;
  font-weight: bold;
}

.fag-karakter {
  font-size: 1rem;
  font-weight: bold;
}

/*TODO FIX THIS*/
.fag-grid > div > .fag-beskrivelse {
  flex-grow: 115;
  padding: 1rem;
}
.fag-container:hover {
  transform: scale(1.02);
}
/* TODO -- nav instead? */
.fag-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
